<html>
  <head>
  <title>{{team.name}}</title>
  {% load static %}
  
  <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
  </head>
  <body>
       <div class="detail">
       <p class ="identification"> 
            {{team.name}}
       </p>
       <p class ="teammates"> 
            
            {% for player in team.playerlist %}
            
            <ol type="a">
                <li><a href = "{% url 'player_detail' player.id %}">{{player.surname}} {{player.name}} ({{player.birthdate}})</a></li>
            
            </ol>
            
            {%endfor%}
            
       </p>
     </div>
     <div class="links">
      <a href="{% url 'ranking' %}">Ranking</a>
       <a href="{% url 'teamlist' %}">List of teams</a>
       <a href="{% url 'matchlist' %}">List of matches</a>
       <a href="{% url 'match_form' %}">Add match</a>
       <a href="{% url 'player_form' %}">Add player</a>
       <a href="{% url 'team_form' %}">Add team</a>
       
     </div>
  </body>
</html>
